/* html{

    height: 100%;
  }
  body{
    padding: 0;
    height: 100%;
    margin-right: 3%;
    margin-left: 2%;
  }
  #root, .App {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  h1, h3{
    text-align: center;
  } */